body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b2434;
  height: 380px;
  width: 360px;
}
.game_background {
  background-color: #f5f5f5;
  height: 320px;
  width: 320px;
  border-radius: 10px;
}
.text_container > h1 {
  color: #2b283a;
  font-size: 26px;
  letter-spacing: -0.03em;
  text-align: center;
}
.text_container > p {
  font-size: 13px;

  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}
.die_face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die_num {
  font-size: 2rem;
}
.dir_container {
  margin-top: 40px;
  margin-inline: 20px;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
}
